@include font("Lato", "Lato-Thin", "100", "normal");
@include font("Lato", "Lato-Regular", "400", "normal");
@include font("Lato", "Lato-Regular", "500", "normal");
@include font("Lato", "Lato-Bold", "600", "normal");
@include font("Lato", "Lato-Bold", "700", "normal");

@include font("Montserrat-Regular", "Montserrat-Regular", "400", "normal");
@include font("Montserrat-Regular", "Montserrat-Regular", "500", "medium");
