
  .header {
    .navbar {
        background: #fff;
        display: flex;
        height: 60px;

       &__leftside {
           display: flex;
           flex-grow: 1;
           align-items: center;
       }

       &__rightside {
        display: flex;
        align-items: center;
        justify-content: center;
       }

      &__logo {
        margin-left: 10px;

        .logo {
            display: flex;
            align-items: center;
          &__icon {
              margin-right: 5px;
          }
          &__title {
            font-family: Inter;
            font-style: normal;
            font-weight: bold;
            font-size: 32px;  
            color: #18113C;
          }
          img {
          }
        }
      }

      &__profile {
        margin-right: 10px;
      }

      .menu {
          margin: 0px 40px;
        &__list {
            display: flex;
        }
        li {
           list-style-type: none;
           margin: 0 10px;

          a {
            color: inherit;
          }

          .menu__link {
            text-decoration: none;

            font-family: Inter;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;

            &:hover {}
            &:active {}
            &:focus {}
          }
        }
      }

      &__form {
        
        input[type=text] {
          width: 100%;
          padding: 12px 20px;
          margin: 8px 0;
          display: inline-block;
          border: 1px solid #DBD8E9;
          border-radius: 4px;
          box-sizing: border-box;
          font-weight: 600;
        }

        input[type=text]:focus {
          border: 1px solid #DBD8E9;
        }

      } 
    }
    .presentation {
        display: flex;
        justify-content: space-around;
        height: 408px;
        background-color: #754FFE;

      &__main {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          width: 550px;
        .presentation__title {
          font-family: Inter;
          font-style: normal;
          font-weight: 700;
          font-size: 36px;
          color: #FFFFFF;
          margin-bottom: 20px;
        }
        .presentation__description {
          font-family: Inter;
          font-style: normal;
          font-weight: 500;
          font-size: 18px;
          color: rgba(255, 255, 255, 0.5);
          margin-bottom: 20px;
        }
        .presentation__buttons {
          justify-content: space-between;
        }
        .button.btn-primary {
          background: #19CB98;
          border: 1px solid #19CB98;
          box-sizing: border-box;
          border-radius: 4px;
          font-family: Inter;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          color: #fff;
          height: 60px;
          width: 245px;
          &:hover {}
          &:active {}
          &:focus {}
        }
        .button.btn-light {
          background: #FFFFFF;
          border: 1px solid #FFFFFF;
          box-sizing: border-box;
          border-radius: 4px;
          font-family: Inter;
          font-style: normal;
          font-weight: 600;
          font-size: 18px;
          color: #000;
          height: 60px;
          width: 245px;
          &:hover {}
          &:active {}
          &:focus {}
        }
      }
      .presentation_image {
        img {
        }
      }
    }
    .statistics {
        height: 96px;
      &__cards {
        display: flex;
        justify-content: space-around;
        .card {
          &__icon {
          }
          &__title {
          }
          &__description {
          }
          img {
          }
        }
      }
    }
  }

 


.inner-addon.left-addon {

    .glyphicon.fa.fa-car {
        left: 0px;
    }
    input {
        padding-left:  30px;
    }
}

.inner-addon { 
    position: relative; 
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 2px 8px;
  pointer-events: none;
}

.profile {
&__image {
    width: auto;
    height: auto;
}
&__circle {
    width: 12px;
    height: 12px;
    background: #19CB98;
    border: 2px solid #FFFFFF;
    border-radius: 50px;
    box-sizing: border-box;
    display: inline-block;
}
img {
    border-radius: 50px;
}
}
  