.recomended {
    font-family: 'Montserrat-Regular';
    margin-bottom: 40px;

    &__title {
        font-style: medium;
        font-weight: 500;
        font-size: 17px;
        line-height: 140%;

    }

    &__articles {
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }


    .article {
        height: 310px;
        width: 255px;
        display: flex;
        flex-direction: column;
        cursor: pointer;

        &:hover {
            box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
        }
    
        &__text {
            padding: 5% 0 0 10%;
            display: flex;
            flex-direction: column;
            gap: 15px;
        }
    
        &_title {
            font-style: normal;
            font-weight: 600;
            font-size: 17px;
            line-height: 140%;
            color: #18113C;
        }
    
        &__image {
            img {
                border-radius: 5px 5px 0 0;
            }
        }
    
        &__level {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #5C5776;
            opacity: 0.5;
    
            &_icon {}
    
            &_title {
                font-size: 14px;
            }
        }
    
        &__author {
            display: flex;
            align-items: center;
            gap: 10px;
            color: #5C5776;
            opacity: 0.5;
            border-top: 0.5px solid #5C5776;
            padding-top: 15px;
            margin-left: -10%;
            padding-left: 10%;
    
            &_image {
                img {
                    border-radius: 50%;
                }
            }
    
            &_owner {
                font-size: 14px;
            }
    
            &_icon {}
        }
    }
}

