.statistics {
  font-family: Lato;
  font-style: normal;
  font-size: 14px;

  height: 96px;
  display: flex;
  align-items: center;


  &__cards {
    display: flex;
    justify-content: space-between;
    flex-grow: 1;

    .card {
      display: flex;
      align-items: center;
      gap: 5px;

      &__icon {}

      &__body {
        padding: 0px 5px;
        display: flex;
        flex-direction: column;
        gap: 5px;
      }

      &__title {
        font-weight: 600;
      }

      &__description {
        font-weight: 400;
      }

      img {}
    }
  }
}