<header class="header">
    <div class="navbar">
        <div class="navbar__leftside">
            <div class="navbar__logo">
                <div class="logo">
                    <div class="logo__icon">
                        <img src="img/icons/icons.svg#viqub_icon" alt="Viqub" width="25" height="25">
                    </div>
                    <div class="logo__title">
                        Viqub
                    </div>
                </div>
            </div>
            <div class="navbar__menu menu">
                <div class="menu__list">
                    <li><a href="" class="menu__link">Browser</a></li>
                    <li><a href="" class="menu__link">About</a></li>
                    <li><a href="" class="menu__link">...</a></li>
                </div>
            </div>
            <div class="navbar__form">
                <!-- <div class="inner-addon left-addon">
                    <i class="glyphicon fa fa-search" aria-hidden="true"></i>
                </div> -->

                <input type="text" placeholder="Search projects">
            </div>
        </div>
        <div class="navbar__rightside">
            <div class="navbar__profile profile">
                <div class="profile__text">
                    Designed by
                </div>
                <div class="profile__image profile__circle">
                    <img src="img/profile.png" alt="Profile image">
                </div>
            </div>
        </div>
    </div>
    <div class="presentation">
        <div class="presentation__main">
            <div class="presentation__title">
                Welcome to Viqub Learning web application
            </div>
            <div class="presentation__description">
                Hand-picked web design and expertly themes,
                designed for the modern web apps and blogs.
            </div>
            <div class="presentation__buttons">
                <button class="button btn-primary">
                    Browse projects
                </button>
                <button class="button btn-light">
                    Are you designer?
                </button>
            </div>
        </div>
        <div class="presentation_image">
            <img src="img/hero.png" alt="Presentation">
        </div>
    </div>
</header>