<header class="header">
    <div class="navbar">
        <div class="navbar__logo-wrapper">
            <img src="" alt="Logo" class="navbar__logo">
        </div>
        <div class="navbar__menu menu">
            <div class="menu__list">
                <li class="menu__item">Browser</li>
                <li class="menu__item">About</li>
                <li class="menu__item">...</li>
            </div>
        </div>
        <div class="navbar__form form">
            <input type="text" class="form__input">
                <i class="form__search">fas fa-search</i>
                Search projects
            <input>
        </div>
        <div class="navbar__profile profile">
            <img src="profile__image profile-circle" alt="Profile image">
        </div>  
    </div>
</header>