<div class="popular">
    <div class="popular__title">
        <h3>Most popular</h3>
    </div>
    <div class="popular__articles">
        <div class="article">
            <div class="article__image">
                <img src="img/icons/icons.svg#angular" alt="Angular" width="40" height="40" />
            </div>
            <div class="article__text">
                <div class="article_title">
                    ViMusic Application
                </div>
                <div class="article__description">
                    Create web application with Angular
                </div>
            </div>
        </div>
        <div class="article">
            <div class="article__image">
                <img src="img/icons/icons.svg#css" alt="CSS" width="40" height="40" />
            </div>
            <div class="article__text">
                <div class="article_title">
                    ViQub Application
                </div>
                <div class="article__description">
                    Create web application with CSS
                </div>
            </div>
        </div>
        <div class="article">
            <div class="article__image">
                <img src="img/icons/icons.svg#figma" alt="Figma" width="40" height="40" />
            </div>
            <div class="article__text">
                <div class="article_title">
                    New Application
                </div>
                <div class="article__description">
                    Create new web application with Figma
                </div>
            </div>
        </div>
        <div class="article">
            <div class="article__image">
                <img src="img/icons/icons.svg#figma" alt="Figma" width="40" height="40" />
            </div>
            <div class="article__text">
                <div class="article_title">
                    New Application
                </div>
                <div class="article__description">
                    Create new web application with Figma
                </div>
            </div>
        </div>
        <div class="article">
            <div class="article__image">
                <img src="img/icons/icons.svg#figma" alt="Figma" width="40" height="40" />
            </div>
            <div class="article__text">
                <div class="article_title">
                    New Application
                </div>
                <div class="article__description">
                    Create new web application with Figma
                </div>
            </div>
        </div>
        <div class="article">
            <div class="article__image">
                <img src="img/icons/icons.svg#figma" alt="Figma" width="40" height="40" />
            </div>
            <div class="article__text">
                <div class="article_title">
                    New Application
                </div>
                <div class="article__description">
                    Create new web application with Figma
                </div>
            </div>
        </div>
    </div>
</div>