<div class="statistics">
    <div class="statistics__cards">
        <div class="card">
            <div class="card__icon">
                <img src="img/icons/icons.svg#grommet_icon" alt="Clock" width="40" height="40">
            </div>
            <div class="card__body">
                <div class="card__title">
                    2 projects
                </div>
                <div class="card__description">
                    Enjoy a variety of fresh projects
                </div>
            </div>
        </div>
        <div class="card">
            <div class="card__icon">
                <img src="img/icons/icons.svg#clarity_icon" alt="Clock" width="40" height="40">
            </div>
            <div class="card__body">
                <div class="card__title">
                    Expert instruction
                </div>
                <div class="card__description">
                    Find right designer for you web app
                </div>
            </div>
        </div>
        <div class="card">

            <div class="card__icon">
                <img src="img/icons/icons.svg#clock_icon" alt="Clock" width="40" height="40">
            </div>
            <div class="card__body">
                <div class="card__title">
                    Liftime access
                </div>
                <div class="card__description">
                    Create on web on schedule time
                </div>
            </div>
        </div>
    </div>
</div>