.popular {
  font-family: "Montserrat-Regular";
  padding-bottom: 40px;

  &__title {
    font-style: medium;
    font-weight: 500;
    font-size: 17px;
    line-height: 140%;
  }

  &__articles {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
  }

  .article {
    height: 95px;
    width: 350px;
    display: flex;
    align-items: center;
    gap: 15px;
    font-style: normal;
    line-height: 140%;

    &:hover {
      box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    }

    &__image {
    }
    &__text {
    }
    img {
      padding-left: 32px;
    }
    .article_title {
      font-weight: 600;
      font-size: 17px;
      color: #18113c;
    }
    .article__description {
      font-weight: 500;
      font-size: 12px;
    }
  }
}
