<div class="recomended">
  <div class="recomended__title">
    <h3>Recommended to you</h3>
  </div>
  <div class="recomended__articles">
    <div class="article">
      <div class="article__image">
        <img
          src="../../../assets/images/viqubpage.png"
          alt="Viqub Page"
          width="255"
          height="142"
        />
      </div>
      <div class="article__text">
        <div class="article_title">
          How to easily create a website with Angular
        </div>
        <div class="article__level">
          <div class="article__level_icon">
            <img
              src="../../../assets/icons/intermediate_level_icon.svg"
              alt="Clock"
              width="20"
              height="20"
            />
          </div>
          <div class="article__level_title">Level Beginner</div>
        </div>
        <div class="article__author">
          <div class="article__author_image">
            <img
              src="../../../assets/images/profile.png"
              alt="Viqub Page"
              width="25"
              height="25"
            />
          </div>
          <div class="article__author_owner">Viorel Designer</div>
          <div class="article__author_icon">
            <img
              src="../../../assets/icons/bookmark_icon.svg"
              alt="Clock"
              width="20"
              height="20"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="article">
      <div class="article__image">
        <img
          src="../../../assets/images/viqubpage.png"
          alt="Viqub Page"
          width="255"
          height="142"
        />
      </div>
      <div class="article__text">
        <div class="article_title">
          How to easily create a website with Angular
        </div>
        <div class="article__level">
          <div class="article__level_icon">
            <img
              src="../../../assets/icons/intermediate_level_icon.svg"
              alt="Clock"
              width="20"
              height="20"
            />
          </div>
          <div class="article__level_title">Level Beginner</div>
        </div>
        <div class="article__author">
          <div class="article__author_image">
            <img
              src="../../../assets/images/profile.png"
              alt="Viqub Page"
              width="25"
              height="25"
            />
          </div>
          <div class="article__author_owner">Viorel Designer</div>
          <div class="article__author_icon">
            <img
              src="../../../assets/icons/bookmark_icon.svg"
              alt="Clock"
              width="20"
              height="20"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="article">
      <div class="article__image">
        <img
          src="../../../assets/images/viqubpage.png"
          alt="Viqub Page"
          width="255"
          height="142"
        />
      </div>
      <div class="article__text">
        <div class="article_title">
          How to easily create a website with Angular
        </div>
        <div class="article__level">
          <div class="article__level_icon">
            <img
              src="../../../assets/icons/intermediate_level_icon.svg"
              alt="Clock"
              width="20"
              height="20"
            />
          </div>
          <div class="article__level_title">Level Beginner</div>
        </div>
        <div class="article__author">
          <div class="article__author_image">
            <img
              src="../../../assets/images/profile.png"
              alt="Viqub Page"
              width="25"
              height="25"
            />
          </div>
          <div class="article__author_owner">Viorel Designer</div>
          <div class="article__author_icon">
            <img
              src="../../../assets/icons/bookmark_icon.svg"
              alt="Clock"
              width="20"
              height="20"
            />
          </div>
        </div>
      </div>
    </div>

    <div class="article">
      <div class="article__image">
        <img
          src="../../../assets/images/viqubpage.png"
          alt="Viqub Page"
          width="255"
          height="142"
        />
      </div>
      <div class="article__text">
        <div class="article_title">
          How to easily create a website with Angular
        </div>
        <div class="article__level">
          <div class="article__level_icon">
            <img
              src="../../../assets/icons/intermediate_level_icon.svg"
              alt="Clock"
              width="20"
              height="20"
            />
          </div>
          <div class="article__level_title">Level Beginner</div>
        </div>
        <div class="article__author">
          <div class="article__author_image">
            <img
              src="../../../assets/images/profile.png"
              alt="Viqub Page"
              width="25"
              height="25"
            />
          </div>
          <div class="article__author_owner">Viorel Designer</div>
          <div class="article__author_icon">
            <img
              src="../../../assets/icons/bookmark_icon.svg"
              alt="Clock"
              width="20"
              height="20"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
